@import "../../styles/variables";

.inputNative {
  padding: 0.5rem;
  border: 1px solid $light-black;
  min-width: 16rem;
}

.inputNative:hover {
  border: 1px solid $black;
}

.inputNative:focus {
  border: 1px solid $black;
}
