* {
    /* padding: 0;
    margin: 0; */
    box-sizing: border-box;
}

.nav {
    height: 3vh;
}

.navElements {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.navElement {
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 3px;
}

.underConstruction {
    font-size: 8rem;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heart {
    color: rgb(217, 25, 25);
    margin-left: 0.3rem;
}

.footer {
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}