@import "../../styles/variables";

.pageWrapper {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;
  margin-left: 14rem;
  margin-right: 14rem;
  padding: 3rem 0;

  .headerText {
    margin: auto;
    margin-bottom: 2rem;
    font-size: 4rem;
  }

  .generesWrapper {
    margin-top: 5rem;

    .genereWrapper {
      margin-bottom: 7rem;

      .genereHeading {
        font-weight: $weigth500;
        font-size: 2rem;
      }

      .rule {
        width: 30%;
        background-color: $extra-light-black;
        height: 0.1rem;
        margin-top: 0.99rem;
        margin-bottom: 5rem;
      }
    }
  }

  .cardWrapper {
    width: 15rem;
    height: 18rem;
    overflow: scroll;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 5px;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    .imgWrapper {
      width: 100%;
      height: 50%;
    }

    .infoWrapper {
      margin-top: 2rem;

      .name {
        font-weight: $weigth500;
      }

      .desc {
        margin-top: 0.8rem;
        font-weight: $weight300;
      }
    }
  }

  .cardWrapper::-webkit-scrollbar {
    display: none;
  }

  .cardWrapper:hover {
    box-shadow: 0 0 0.4rem 0.1rem $extra-light-black;
  }

  .genereCardsWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 4rem;
    column-gap: 4rem;
  }
}
