$yellow-ochre: #eea302;
$corvid-brown: rgb(255 59 37);
$corvid-blue: rgb(128 216 218);
$corvid-pink: #FF7EE2;

$corvid-border-yellow: rgb(89 62 3);
$corvid-border-blue: rgb(19 84 84);
$corvid-border-brown: rgb(85 20 12);
$corvid-border-pink: #581845;

$body-bg-color: rgb(243 243 243);
$black: rgb(0 0 0);
$light-black: rgba(0,0,0,0.4);
$extra-light-black: rgba(0,0,0,0.2);
$text-color: $black;

$hover-nav-color: #926402;
$selected-nav-color: #926402;

$font0: normal normal normal 100px/1.4em worksans-semibold, 'work sans', sans-serif;
$font4: normal normal normal 26px/normal worksans-semibold, 'work sans', sans-serif;
$font8: normal normal normal 16px/1.4em avenir-lt-w01_35-light1475496, 'Source Code Pro', monospace;
$font9: normal normal normal 13px/1.4em avenir-lt-w01_35-light1475496, 'Source Code Pro', monospace;

$weight100: 100;
$weight200: 200;
$weight300: 300;
$weight400: 400;
$weigth500: 500;
$weigth600: 600;
$weigth700: 700;
$weight800: 800;
$weight900: 900; 

$fill-opacity: 1;
$stroke: $black;
$stroke-opacity: 1;
$stroke-width: 0;