@import "~styles/variables";

.logo {
  display: flex;
  align-items: baseline;

  .logoWrapper {
    position: absolute;
    top: 0.1rem;
  }

  .name {
    font: $font4;
    line-height: normal;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: normal;
    margin: 0 1rem 0 3rem;
  }

  .designation {
    font-weight: $weight300;
  }
}

.logoCircle {
  fill: $yellow-ochre;
  fill-opacity: $fill-opacity;
  stroke: $stroke;
  stroke-opacity: $stroke-opacity;
  stroke-width: $stroke-width;
}
